body p {
    color: darkslategray;
    font-size: 16px;
}

html body {
    background-color: khaki;
    padding: 10px 0 10px 0
}

.grid-x {
  @extend .grid-margin-x !optional;
}

a.button {
    background-color: yellow;
    color: red;
}

a {
    color: orangered;
}

a.button:hover {
    background-color: coral;
    color: red;
}

h1 {
    color: #FF6633;
}

input.button {
  background-color: yellow;
  color: orangered;
}

input.button:hover {
    background-color: coral;
    color: red;
}
input:visited {
    color: orange;
}

body h3, h4, b {
    color: chocolate;
}

body h5{
    color: brown;
}

a.hover {
    background-color: coral;
    color: red;
}

strong#following {
    color: orange;
}

strong#followers {
    color: orange;
}

span {
    color: chocolate;
}

img.small {
  height: 150px;
}

video.small {
  height: 200px;
  width: 200px;
}


.feed_photo {
  padding-top: 5px;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after{
  border-color: #ff0000 transparent transparent;
}
